extends _layouts/master

block context
  - var title = 'Fractal';

block styles
  style.
    #depth-wrapper {
      position: absolute;
      top: 14px;
      right: 60px;
      border-radius: 4px;
      padding: 2px;
      background: rgba(255,255,255,0.4);
      height: 15px;
      line-height: 13px;
    }
    #depth {
      -webkit-appearance: none;
      background-color: white;
      width: 100px;
      height: 4px;
      border: 0;
      font-size: 5px;
    }
    #depth::-webkit-slider-thumb {
      -webkit-appearance: none;
      background-color: rgba(0,60,136,0.75);
      width: 10px;
      height: 10px;
      border-radius: 4px;
    }

block extra
  div#depth-wrapper
    label(for="depth") depth:&nbsp;
    input#depth(type="range", min="0", max="9", step="1" value="5")
    | &nbsp;(
    span#count #
    | points)

block scripts
  script(src='fractal.js')
